In [ ]:
# Imports
from pyspark.sql import SparkSession

In [ ]:
# Creando una sesión de Spark
spark = SparkSession.builder.appName("Read CSV Data").getOrCreate()

In [ ]:
# Definir la ruta del CSV
csv_path = "output.csv"
# Leer los datos del CSV, crear vista temporal e imprimir schema
df_output = spark.read.csv(csv_path, sep=';', header=True, inferSchema=True)
df_output.createOrReplaceTempView("TABLE")
df_output.printSchema()

In [ ]:
# Define la URL JDBC de Oracle para la nueva base de datos
url = f"jdbc:oracle:thin:@inserta aquí el host de Oracle:inserta el puerto:inserta aquí el SID"

In [ ]:
# Define el nombre de la tabla de Oracle donde deseas cargar los datos
table_name = "inserta aquí el nombre de la tabla de Oracle donde quieres cargar los datos"

In [ ]:
# Definiendo las propiedades de conexión JDBC de Oracle para la nueva base de datos
properties = {
    "user": "inserta aquí el usuario de Oracle",
    "password": "inserta aquí la contraseña de Oracle",
    "driver": "oracle.jdbc.driver.OracleDriver"
}

In [ ]:
# Escribe los datos en la tabla de Oracle como una nueva tabla
df_output.write.jdbc(url=url, table=table_name, mode="overwrite", properties=properties)

In [ ]:
print(f"Los datos del archivo {csv_path} se cargaron correctamente en la nueva tabla {table_name} de Oracle.")