# Leer datos de SQL Server

## Imports y creación de sesión Spark

In [ ]:
from pyspark.sql import SparkSession

# Crea una SparkSession
spark = SparkSession.builder.appName("Read SQL Server Data").getOrCreate()

## Conexión con Base SQL Server

In [ ]:
# Datos de conexión
host = "library-usco.database.windows.net"
port = "1433"
user = "admin_library@library-usco"
password = "Seminariousco123"
db = "library"
driver = "com.microsoft.sqlserver.jdbc.SQLServerDriver"

In [ ]:
# Configuración del JDBC de SQL Server
url_conn = f"jdbc:sqlserver://{host}:{port};database={db};user={user};password={password};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"

## Query de ingesta de datos y transformación base

In [ ]:
# Query de consulta a SQL Server
sql = """
SELECT * 
FROM mi_tabla 
WHERE mi_condicion
"""

# Leer datos de la base de datos
df = spark.read.jdbc(url=url_conn, table="("+sql+") as t")
df.createOrReplaceTempView("TABLE")

In [ ]:
# Transformación de datos
sql_code = """
-- INSERTAR CÓDIGO DE TRANSFORMACIÓN AQUÍ
"""
df_transformed = spark.sql(sql_code)

## Escribir los datos transformados

In [ ]:
# Escribe los datos en formato CSV
csv_name = "data/datos_base.csv"
df_transformed.write.csv(csv_name)


print(f"Los datos de Oracle se leyeron correctamente y se guardaron como {csv_name}")